

body{
margin: 0;
padding: 0;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
   padding: 0.4rem;
   margin: 7px;
   background-color: rebeccapurple;
   min-width: max-content;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    display: none;
}
.mobile-menu-btn{
    margin: 5px;
}



@media(max-width:1140px){

}
